.footer-container {
  display: flex;
  justify-content: center;
  background: #1d2020;
  margin: 0;
  box-shadow: 1px 17px 12px 4px rgb(0 0 0 / 12%), 0 5px 8px rgb(90 65 65 / 26%);
  z-index: 99;
}

.footer-link {
  font-size: 26px;
  color: #e7e6e7;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
}
