.challenge-section-container {
  min-height: 90vh;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
}
.challenge-section-header {
  text-align: center;
  color: #fff;
  font-family: "Bangers", cursive;
  font-size: 4rem;
  letter-spacing: 4px;
}
